<p><%= @game.player_1.name %> vs <%= @game.player_2.name %></p>
<p><%= @game.player_1.name %> hp: <%= @game.player_1.hp %>/60, <%= @game.player_2.name %> hp: <%= @game.player_2.hp %>/60</p>
<a href="/attack">Attack</a>
