<link rel="stylesheet" type="text/css" href="signup.css">

<h1>Sign Up</h1>
<%= form_with model: @user,local: true, url: '/sign_up' do |form| %>
  <% if @user.errors.any?%>
    <div class="alert alert-danger">
      <%@user.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end%>
    </div>
  <% end%>
  <div class="mb-3">
    <%=form.label :email%>
    <%=form.text_field :email, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%=form.label :password%>
    <%=form.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%=form.label :password_confirmation%>
    <%=form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
  <%= form.label :image, class: "form-label" %>
  <%= form.file_field :image, class: "form-field" %>
</div>
  <div class="mb-3">
    <%=form.submit class: "btn btn-primary signup "%>
  </div>
<%end%>
