<nav style="text-align: right;">
  <a href="/spaces">Spaces</a> | <a href="/requests">Requests</a> | <a href="/sign-out">Sign out</a>
</nav>
<%# seperator %>
<div style="text-align: center;font-size: 20px;">
  <h1>Book a Space</h1>
  <a href="/spaces/new">List a Space</a>
</div>
<%# seperator %>
<div style="text-align: center;font-size: 20px;">
  <% if @user %>
    <h1>Welcome, <%= @user.email_address %></h1>
  <% end %>
</div>
<%# seperator %>
<div style="display: block ruby">
  <form action="/filter" method="post">
    <label for='available_from'>Available from:
      <input type="date" name="available_from" required>
    </label>
    <br>
    <label for='available_to'>Available to:
      <input type="date" name="available_to" required>
    </label>
    <br>
    <input style="margin-top: 1rem;" type="submit" value="List Space">
  </form>
</div>
<%# seperator %>
<div style="display: flex">
  <%= @msg %>
  <form action="/remove_filter" method="post">
    <input style="margin-left: 1rem;" type="submit" value="Remove Filter">
  </form>
</div>
<%# seperator %>
<div>
  <ul style="list-style: none;">
    <% @spaces.each do |space| %>
      <li>
        <div style="border: 1px solid black;padding: 1rem;margin-bottom: 1rem;">
          <h3><%= space[0] %></h3>
          <p><%= space[1] %>, £<%= space[2] %></p>
          <p>Available from: <%= space[3] %>, Available to: <%= space[4] %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
